.skills-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  .skills-hard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3%;
    .skills-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 36px;
      &-header {
        display: flex;
        flex-direction: row;
        &-icon {
          max-height: 24px;
        }
        &-levels {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 16px;
          font-weight: 900;
        }
        &.align-right {
          flex-direction: row-reverse;
        }
      }
      .skill-bar {
        width: 100%;
      }
      .skill-name {
        width: 35%;
      }
      &-content {
        display: flex;
        flex-direction: column;
        margin: 0 24px;
        &-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 42px;
          &-title {
            font-family: var(--code-font);
            &.align-right {
              text-align: end;
            }
          }
          &-levels {
            display: flex;
            background-color: var(--terciary);
            border-radius: 20px;
            height: 30px;
            margin: 0 5%;
            .skill-progress {
              background-color: var(--secondary);
              height: 30px;
              border-radius: 20px;
            }
          }
          &.align-right {
            flex-direction: row-reverse;
          }
        }
        &-additional {
          margin: 0 25% 0 5%;
          &.isMobile {
            margin: 0;
          }
          display: flex;
          flex-direction: row;
          justify-content: center;
          &-skill {
            display: flex;
            flex-direction: column;
            margin: 0 5%;
            .section-title {
              font-size: 24px;
              padding: 0;
            }
            &-list {
              white-space: pre-line;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .align-right {
    justify-content: flex-end;
  }
  .skills-soft-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .skills-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      &-content {
        font-size: 18px;
        white-space: pre;
        &-row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          span {
            font-size: 14px;
            color: var(--medium-gray);
          }
        }
        &-icon {
          width: 20px;
        }
        &-key {
          text-align: end;
          width: 50%;
          a {
            text-decoration: none;
            color: var(--white);
          }
          &.align-left {
            text-align: left;
          }
        }
        &-value {
          text-align: start;
          width: 50%;
          color: var(--secondary);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .skills-wrapper {
    max-width: 100vw;
    .skills-hard-container {
      flex-direction: column;
      .skills-list {
        margin: 24px 0;
        .skill-bar {
          width: 95%;
        }
        &-header-levels {
          width: 90%;
          gap: 0;
          &-title {
            font-size: 10px;
          }
        }
        &-content {
          &-row-title {
            font-size: 12px;
          }
        }
      }
    }
    .skills-soft-container {
      flex-direction: column;
    }
  }
}