.gallery-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  white-space: pre-line;
  gap: 40px;
  div {
    width: 100%;
    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .project-detail-wrapper {
    gap: 8px;
    .project-detail {
      padding: 0 8px;
      &-embed-video {
        iframe {
          padding-bottom: 0;
        }
      }
    }
  }
}