@font-face {
  font-family: 'Playfair Display';
  src: url("assets/fonts/PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
  font-family: 'Josefin Sans';
  src: url("assets/fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: 'Josefin Sans Bold';
  src: url("assets/fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: 'Zeyada';
  src: url("assets/fonts/Zeyada-Regular.ttf");
}
@font-face {
  font-family: 'Space Mono';
  src: url("assets/fonts/SpaceMono-Regular.ttf");
}

:root {
  --primary: #4D21A9;
  --secondary: #CF6766;
  --terciary: #192231;

  --secondary-0-75: #CF6766BF;

  --white: #E7DFDD;
  --black: #0E0B16;
  --black-0-5: #0e0b1680;
  --black-0-75: #0e0b16BF;
  --dark-gray: #37343D;
  --medium-gray: #777777;
  --light-gray: #C1C1C1;

  --background: #0E1212;

  --primary-font: 'Josefin Sans';
  --primary-font-bold: 'Josefin Sans Bold';
  --title-font: 'Playfair Display';
  --handwritten-font: 'Zeyada';
  --code-font: 'Space Mono';
}

* {
  font-family: var(--primary-font);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--white);
  scroll-behavior: smooth;
}

.primaryColor {
  color: var(--primary);
}

.codeText {
  font-family: var(--code-font);
}